# CI for all projects in the repository
name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/**'

permissions: read-all

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - name: Install
          run: make install-all
        - name: Test
          run: make test-all
