# Deploy Canary function ZIP to Prod AWS Account
name: Deploy ZIP to Prod
on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  generate-matrix:
    # See the .github/scripts/generate-matrix.sh for the details of the matrix
    # construction.
    name: Generate matrix for deploy
    runs-on: ubuntu-latest
    # This line adds a check for the user which is requesting the PR. As long as its not dependabot, we go ahead and run it. 
    if: ${{ github.triggering_actor != 'dependabot[bot]' }}
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 10
      - name: Generate matrix
        id: generate
        env:
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          HEAD_SHA: ${{ github.sha }}
          ACTION: ${{ github.event.action }}
        run: |
          chmod +x ./.github/scripts/generate-matrix.sh
          ./.github/scripts/generate-matrix.sh

  promote:
    name: Promote ZIP to S3
    needs: generate-matrix
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
      fail-fast: false
    runs-on: ubuntu-latest
    # This line adds a check for the user which is requesting the PR. As long as its not dependabot, we go ahead and run it. 
    if: ${{ github.triggering_actor != 'dependabot[bot]' }}
    steps:
      - name: Configure AWS credentials for Stage
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCT_STAGE }}:role/aws-synthetic-canaries-gha-stage
          aws-region: us-east-1
      - name: Download Stage ZIP
        run: aws s3 cp s3://$(aws ssm get-parameter --name "/tfvars/init/shared-files-bucket-id" --query "Parameter.Value" --output text)/files/${{ matrix.paths }}.zip ${{ matrix.paths }}.zip

      - name: Configure AWS credentials for Prod
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCT_PROD }}:role/aws-synthetic-canaries-gha-prod
          aws-region: us-east-1

      - name: Upload Prod ZIP
        run: aws s3 cp ${{ matrix.paths }}.zip s3://$(aws ssm get-parameter --name "/tfvars/init/shared-files-bucket-id" --query "Parameter.Value" --output text)/files/${{ matrix.paths }}.zip

      - name: Publish S3 Key
        working-directory: ${{ matrix.paths }}
        run: |
          PATHS_DASHED=$(echo "${{ matrix.paths }}" | tr '_' '-')
          aws ssm put-parameter \
            --name "/apps/aws-synthetic-canaries/${PATHS_DASHED}-key" \
            --type "String" \
            --description "S3 Key for the ${{ matrix.paths }} ZIP file" \
            --overwrite \
            --value "files/${{ matrix.paths }}.zip"
          aws ssm put-parameter \
            --name "/apps/aws-synthetic-canaries/${PATHS_DASHED}-runtime" \
            --type "String" \
            --description "CloudWatch Synthetic Canary Runtime for ${{ matrix.paths }}" \
            --overwrite \
            --value "$(cat .runtime)"
